  <header>
      <nav class="navbar navbar-expand-lg navbar-light col-12">
        <a class="navbar-brand text-light" href="/admin"><img src="/product-images/logo1.png" id="logo"  alt="logo"></a>

        <div class="ms-auto me-5">
       
          </div>
        </div>

  

      </nav>

    </header>